@for $i from 5 through 100
    @if $i%5 == 0
        .w-#{$i}
            width: 0%+$i !important
        .pt-#{$i}
            padding-top: 0px+$i !important
        .pl-#{$i}
            padding-left: 0px+$i !important
        .pr-#{$i}
            padding-right: 0px+$i !important
        .pb-#{$i}
            padding-bottom: 0px+$i !important
        .mt-#{$i}
            margin-top: 0px+$i !important
        .ml-#{$i}
            margin-left: 0px+$i !important
        .mr-#{$i}
            margin-right: 0px+$i !important
        .mb-#{$i}
            margin-bottom: 0px+$i !important

@each $device, $pixel in ((xs, 767px), (sm, 992px), (md, 1200px), (lg, 10000px))
    @media (max-width: $pixel)
        @if $device == 'xs'
            .h-xs-auto
                height: auto !important
        //width margin padding
        @for $i from 5 through 100
            @if $i%5 == 0
                .w-#{$i}-#{$device}
                    width: 0%+$i !important
                .pt-#{$i}-#{$device}
                    padding-top: 0px+$i !important
                .pl-#{$i}-#{$device}
                    padding-left: 0px+$i !important
                .pr-#{$i}-#{$device}
                    padding-right: 0px+$i !important
                .pb-#{$i}-#{$device}
                    padding-bottom: 0px+$i !important
                .mt-#{$i}-#{$device}
                    margin-top: 0px+$i !important
                .ml-#{$i}-#{$device}
                    margin-left: 0px+$i !important
                .mr-#{$i}-#{$device}
                    margin-right: 0px+$i !important
                .mb-#{$i}-#{$device}
                    margin-bottom: 0px+$i !important

@for $i from 5 through 700
    @if $i%5 == 0
        .h-#{$i}
            height: 0px+$i
        .min-h-#{$i}
            min-height: 0px+$i
        .max-h-#{$i}
            max-height: 0px+$i